4 namespaces:

used to create group of resources inside cluster.
Run services/application with the same in different namespaces, when an appln in utilizing max resources it can be moved to a different namespace.
Default (when we dont specify any namespace)
Kube public - for objects where the vivisbiloty is public
Kube system- System processes like Master and kubectl processes are deployed in this namespace; thus, it is advised not to create or modify the namespace
kube node lease - sends heartbeat to node to determaine the healthy nodes
